<!
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listar Missoes</title>
</head>
<body>
<h1>Lista de ninjas</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Dificuldade</th>
            <th>Ninjas</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each ="missao : ${missoes}">
            <td th:text="${missao.id}"> </td>
            <td th:text="${missao.nome}"></td>
            <td th:text="${missao.dificuldade}"></td>
            <td th:text="${missao.ninja}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>